@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --animate-slide-in-right: slide-in-right 0.3s ease-in-out forwards;
  --animate-fade-in: fade-in 0.3s ease-in-out forwards;
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:root {
  --sans: 'Inter', sans-serif;
  --heading: 'Montserrat', sans-serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

#root {
  width: 1360px;
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
  background-color: #141313;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: #141313;
  font-family: var(--sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading);
}